{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<br>
<div class="container mt-5">
  <h1 class="text-center">{{ product.name }}</h1><br>
  <div class="alert alert-info">
    <div class="row">
      <div class="col">
        <h4>Описание:</h4>
        <p>{{ product.description }}</p>
      </div>
      <div class="col">
        <h4>Количество:</h4>
        <p>{{ product.quantity }}</p>
      </div>
      <div class="col">
        <h4>Дата поступления:</h4>
        <p>{{ product.date_receipt }}</p>
      </div>
      <div class="col">
        <h4>Цена:</h4>
        <p>{{ product.price }}</p>
      </div>
    </div>
    <a href="/products/{{ product.id }}/delete" class="btn btn-danger">Удалить</a>  
    <a href="/products/{{ product.id }}/update" class="btn btn-success">Изменить</a>  
  </div>     
</div>
{% endblock %}
